
            <div class=" text-center">
                <main class="px-3">
                    <h1>Ups  &#129320;</h1>
                    <p class="lead">Something went wrong.</p>
                    <p class="lead"></p>
                </main>
            </div>

