
            <div class=" text-center">
                 <main class="px-3">
                     <h1>Hi &#128578;</h1>
                     <p class="lead">We sent you an email, check it.</p>
                      <p class="lead">Good luck!</p>
                 </main>
            </div>


